body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
}

h1, p {
  color: #333;
}

.scroll-tree
{ 
  font-size: 13px;
}


.scroll-tree-item
{
  cursor: pointer;
}

.scroll-tree-home 
{
  margin: 6px 0px 6px 19px;
}

.scroll-tree-starred {
  margin: 0px 0px 0px 19px;
}

.scroll-tree-item-title
{
  max-width: 132px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 21px;
  font-size: 13px;
  display: inline-block;
  line-height: 21px;
  margin: 0px 0px 0px 0px;
  vertical-align: top;
}

.scroll-tree-item-unread
{
  white-space: nowrap;
  height: 21px;
  font-size: 11px;
  width: 26px;
  margin: 0px 0px 0px 3px;
  padding: 0px 0px 0px 1px;
  text-align: left;
  display: inline-block;
  color: rgb(102,102,102);
  vertical-align: top;
  line-height: 21px;
}

.scroll-tree-item:hover
{
  background-color: #F0F0F0;
}


.entry-feedTitle {
  color: #555; 
  padding: 0 1em 0 0; 
  overflow: hidden; 
  display: block; 
  width: 11em; 
  white-space: nowrap;
  position: absolute;
  left: 1.85em;  
}

.entry-title {
  padding: 0px; 
  margin: 0px; 
  border-bottom: solid 1px #ccc; 
  overflow: hidden;
  line-height: 27px;
  font-size: 13px;
  height: 27px;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.entry-summary {
  margin: 0 9em 0 15em;
  left: 0px;
  padding: 0 0 0 1px;
  color: #777;
  white-space: normal;
  width: auto;
  overflow: hidden;
  position: absolute;
}

.entry-star {
  display: block; 
  position: absolute;
  overflow: hidden; 
  font-size: 13px;
  height: 27px;
  line-height: 27px;
}


.entry-time {
  float: right; 
  text-align: right;  
}

.feed-content {
  padding: 10px;
  border-bottom: 1px #CCC solid;
  
}


.feed-content-title {
    color: #15c;
    text-decoration: none;
    font-size: 140%;
    margin: 0px;  
    font-weight: bold;
    font-size: 18px; 
}

.feed-content-body {
    padding-top: 7px;
}


.entry {
  

}

.entry-list{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow-y: auto;
}
